
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.lock
.gradle/6.0.1/fileHashes/fileHashes.bin
.gradle/6.0.1/fileHashes/fileHashes.lock
.gradle/6.0.1/javaCompile/javaCompile.lock
.gradle/6.0.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/generated/sources/annotationProcessor/java/main/ch/uzh/ifi/seal/soprafs20/rest/mapper/DTOMapperImpl.java
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.lock
*.bin
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.bin
.gradle/6.0.1/executionHistory/executionHistory.bin
*.bin
.gradle/6.0.1/executionHistory/executionHistory.bin
*.bin
